@font-face {
    font-family: 'Roboto-Regular.ttf';
    src: url('Police/Roboto-Regular.ttf');

}

@font-face {
    font-family: 'Shrikhand-Regular.ttf';
    src: url('Police/Shrikhand-Regular.ttf');
}

body {
    font-family: 'Roboto-Regular.ttf';
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
}



/*Partie header*/
header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8em;
    position: relative;
}

.arrow {
    position: absolute;
    left: 25px;
    bottom: 23px;
    font-size: 1.4em;
    color: black;
}

/*Fin*/
/*partie baniere*/
.Imagesrestaurants {
    -o-object-fit: cover;
    object-fit: cover;
    height: 21em;
    width: 100%;
    position: relative;
    z-index: 500;
}

.Imagesrestaurants1 {
    -o-object-fit: cover;
    object-fit: cover;
    height: 35em;
    width: 100%;
    position: relative;
    z-index: 500;
}

.banniere {

    overflow: hidden;
}

/*fin*/
/*Partie menue*/
.titresecmenu {
    font-family: 'Shrikhand-Regular.ttf';
    font-size: 1.5em;
    margin-left: 0.2em;
}

.titredessens {
    font-size: 1.5em;
}

.coeurtitre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    position: absolute;
    right: 10px;
    top: 25px;
    border: 1px solid transparent;
    transform: rotate(45deg);
    width: 26px;
    height: 27px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 2em;
}
/*animation coeur*/
.jauge {
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: transparent;
    z-index: 0;
    overflow: hidden;
    text-overflow: clip;
    font-size: 1.5em;
    transform: rotate(-45deg);
    top: -12px;
    left: 4px;
    cursor: pointer;
}

.jauge-remplissage {
    transition: all 0.5s linear 0s;
    color: var(--primary);
    background: linear-Gradient(var(--secondary), var(--primary));
    background: linear-gradient(#e66465, #9198e5);
    background: -o-linear-gradient(bottom, var(--secondary), var(--primary));
    background: linear-Gradient(to bottom, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.jauge:active .jauge-remplissage {
    height: 100%;
}
/*fin animation coeur*/

.sectionmenu {
    background-color: #f2f2f2;
    padding: 0.4em 1em 6em 1em;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    position: relative;
    margin-top: -2.5em;
    z-index: 1000;
}

.sectionmenulanote {
    margin-top: -16.5em;

}



.menuchoix {
    position: relative;
    height: 4.5em;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em 0 1em;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0 0 0.5em #0000002e;
    opacity: 1;
    overflow: hidden;
}
/*apparition plat*/
.apparition1 {
    -webkit-animation: apparition 1s linear;
    animation: apparition 1s linear;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none
}

.apparition2 {
    -webkit-animation: apparition 2s linear;
    animation: apparition 2s linear;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none
}

.apparition3 {
    -webkit-animation: apparition 3s linear;
    animation: apparition 3s linear;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none
}

@-webkit-keyframes apparition {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*Fin apparition plat*/

.menuchoix1 {
    position: relative;
    height: 4.5em;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em 0 1em;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0 0 0.5em #0000002e;
    opacity: 1;
    overflow: hidden;
}

.menulist {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -1em;
    width: 100%;
    transition-duration: 2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titremenu {
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.compomenu {
    font-size: 0.9em;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*Animation check*/
.animation {
    width: 100%;
    transition: 2s;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.animation::after {
    content: "\f058";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: absolute;
    top: 18px;
    /*right: -36px;*/
    left: 110%;
    width: 33px;
    height: 35px;
    background-color: #99E2D0;
    text-align: center;
    font-size: 2em;
    transition: 2s;
    z-index: 1;
    color: white;
    font-style: normal;
}

.animation::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #99E2D0;
    transition: 2s;

}

.animation:active {
    width: 80%;
}
.animation:active::after {
    -webkit-animation: rotation 3s forwards;
    animation: rotation 3s forwards;
    left: 87%;
}

.animation:active::before {
    width: 20%;
}


@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*Fin annimation check*/

.menudebutfin {
    margin: 2.5em 0 0.8em 0.2em;
    color: gray;
    border-bottom: 2px solid var(--tertiary);
    padding-bottom: 0.2em;
    width: 2.5em;
}

.menueentrees {
    margin-top: 0.5em;
}

.boutoncommande {
    border-radius: 2em;
    width: 55%;
    height: 3.5em;
    background: linear-gradient(top, var(--secondary), var(--primary));
    background: linear-gradient(to bottom, var(--secondary), var(--primary));
    border: none;
    box-shadow: 0 0 1em #0000002e;
    margin-top: 2em;
    cursor: pointer;
}

button:hover {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
    box-shadow: 0em 0em 2em #0000006e;

}

.textcommande {
    color: white;
    font-size: 1.2em;
}

.centrebouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) and (max-width:1299px) {
    .formation {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .menuchoix {
        padding: 0 2em 0 1em;
        width: 95%;
    }

    .menuchoix1 {
        padding: 0 2em 0 1em;
        width: 95%;
    }

    .menuecentre {
        grid-column: 1/3;
        grid-row: 2;
        width: 50%;
        display: block;
        justify-self: center;
    }

    .formationtitre {
        display: flex;
        justify-content: center;
        margin-right: 2em;
        margin-bottom: 1em;
    }

    .sectionmenu {
        padding-left: 3em;
    }

    .menudebutfin {
        width: 2.5em;
        display: flex;
        justify-content: center;
    }

    .boutoncommande {
        width: 30%;
    }
}

@media screen and (min-width:1300px) {
    .formation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menuchoix {
        padding: 0 2em 0 1em;
        width: 30%;
    }

    .menuchoix1 {
        padding: 0 2em 0 1em;
        width: 23%;
    }

    .formationtitre {
        display: flex;
        justify-content: center;
        margin-right: 1.5em;
        margin-left: 1.5em;
        margin-bottom: 1em;
    }

    .menudebutfin {
        width: 2.5em;
        display: flex;
        justify-content: center;
    }

    .boutoncommande {
        width: 20%;
    }
}

/*fin*/
/*partie footer*/
footer {
    background-color: rgb(66, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 3em;
}

.logofooter {
    height: 2em;
    width: 7em;
    font-size: 1.2em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.textfooter {
    color: white;
    margin-top: 0.5em;
}

.linkfooter {
    color: white;
    text-decoration: none;
}

.iconuten {
    margin-right: 1em;
}

.iconhelp {
    margin-right: 1em;
    font-size: 0.8em;
}

/*Fin*/